<template>
  <v-app light>
    <slot name="body-section" />
    <slot name="top-section" />
    <v-container fluid>
      <v-layout>
        <slot name="main-section">
          <router-view />
        </slot>
      </v-layout>
    </v-container>
    <slot name="footer-section" />
  </v-app>
</template>

<script>

export default {
  name: 'App',
  components: {
  }
};
</script>

<style lang="scss"></style>
