<template>
    <v-content>
        <h1>Tasks</h1>

        <v-btn :to="{ name: 'task-create' }" color="success">Create</v-btn>
        <v-data-table
                :headers="headers"
                :items="tasks"
                item-key="id"
                :disable-initial-sort="true"
                :hide-actions="true"
                class="task-list"
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.command }}</td>
                <td>{{ props.item.status_name }}</td>
                <td>
                    <span v-if="props.item.status !== 1">You can not delete this task</span>
                    <v-btn
                    v-if="props.item.status === 1"
                    v-on:click="deleteTask(props.item)"
                    small
                    color="warning"
                    >Delete</v-btn>
                </td>
            </template>
        </v-data-table>
    </v-content>
</template>

<script>
import axios from 'axios';
import _ from 'underscore';

export default {
    name: 'Task',
    data: () => ({
        tasks: [],
        loaded: false,
        headers: [
            { text: 'Command', value: 'command' },
            { text: 'Status', value: 'status' },
            { text: 'Actions', value: 'actions' }
        ]
    }),
    methods: {
        deleteTask: function(task) {
            axios.delete('/api/task/' + task.id).then(() => {
                this.tasks = _.without(this.tasks, _.findWhere(this.tasks, {
                    id: task.id
                }));
            });
        }
    },
    created() {
        axios.get('/api/tasks').then((result) => {
            this.tasks = result.data;
        })
    },
};
</script>
