<template>
    <v-content>
        <section>
            <div class="block">
                <h1>Create</h1>
                <v-btn :to="{ name: 'task-list' }" color="info">Go Back</v-btn>
            </div>

            <form @submit.prevent="submit">
                <v-text-field
                        v-model="task.command"
                        label="Command"
                        required
                />

                <v-text-field
                        v-model="task.priority"
                        label="Priority"
                        required
                />

                <v-select
                        v-model="task.processor_id"
                        :items="processors"
                        item-text="name"
                        item-value="id"
                        label="Processor"
                />

                <v-select
                        v-model="task.submitter_id"
                        :items="submitters"
                        item-text="name"
                        item-value="id"
                        label="Submitter"
                />

                <v-btn type="submit" color="success">
                    <span>Create</span>
                </v-btn>
            </form>
        </section>
    </v-content>
</template>

<script>
import axios from 'axios';

export default {
    name: 'TaskCreate',
    data: () => ({
        update: false,
        task: {},
        processors: [],
        submitters: [],
    }),
    methods: {
        submit: function() {
            axios.post('/api/task', this.task).then(() => {
                this.$router.push({ name: 'task-list' });
            });
        }
    },
    created() {
        axios.get('/api/processors').then((result) => {
            this.processors = result.data;
        });

        axios.get('/api/submitters').then((result) => {
            this.submitters = result.data;
        })
    }
};
</script>
